.box1{
    background-image: url("photo1.jpg");
    background-size: cover;
}
.box2{
    background-image: url("photo2.jpg");
    background-size: cover;
}.box3{
    background-image: url("photo3.jpg");
    background-size: cover;
}.box4{
    background-image: url("photo4.jpg");
    background-size: cover;
}
div{
    display: inline-block;
    margin: 20px;
    height: 100px;
    width: 100px;
    border: 3px solid blue;
}
