body{
    text-align: center;
}
/* yh box ph lag rha ha. */
div{
    height: 50px;
    width: 50px;
    display: inline-block;
    display: flex;
    /* flex-direction: row-reverse; */
    border: 3px solid rgb(245, 18, 18);
}
#container{
    width: 600px;
    height: 400px;
    display: flex;
    
}
#box1{
    background-color: rgb(197, 20, 213);
}
#box2{
    background-color: chartreuse;
    /* height: 100px; */
}
#box3{
    background-color: rgb(19, 187, 190);
    /* height: 20px; */
}
#box4{
    background-color: rgb(140, 180, 100);
}
#box5{
    background-color: rgb(183, 63, 3);
    /* height: 65px; */
}

/* border: 2px solid blue; */
/* flex-direction: column 
    flex-direction: column-reverse; 
    flex-direction: row-reverse;  */

     /* flex-direction: row-reverse; */
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    /* justify-content: space-evenly;  isme sare boxes ek dusre sh same same distance ph arrange ho jh th ha. */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* align-items: center; */