div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 5px solid rgb(222, 76, 76);
    display: inline-block;
}
.box4{
    position: static;
}
.box2{
    background: rgb(149, 149, 237);
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
}

/* matlab uska postion fix ho gya ha ab woh kahi nhi move kre gh, aur by default yhi value ho th ha. */

.box1{
    background-color: chartreuse;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
}
.box3{
    position: absolute;
    top: 100px; 
    left: 20px;
    background-image: url("https://unsplash.com/photos/a-plant-stool-and-accessories-decorate-a-room-erlj_OEgXvw");
}

