 /* text-align: right; */
 /* border: 5px solid rgb(189, 55, 55);
    border-style: solid dashed ;
    /* border-radius: 50%; */
    /* text-align: center; */
    /* background-color: rebeccapurple; */

 div{
    height: 200px;
    width: 220px;
    border: 10px red solid;
    background-color: rgb(65, 65, 93);
    /* padding: 50px; */
    
}
h2{
    /* text-align: center; */
    height: 50px;
    width: 100px;
    border: 10px black solid;
    
}
h3{
    /* text-align: center; */
    height: 50px;
    width: 100px;
    border: 10px black solid;
    margin-top: 30px;
    
}
/* padding-left: 15px; */


/* padding-top: 5px; */
/* padding-left: 50px; */
 /* padding-left: 10px; */