 /* text-align: right; */
 /* border: 5px solid rgb(189, 55, 55);
    border-style: solid dashed ;
    background-color: rebeccapurple; */

 div{
    text-align: center;
    height: 250px;
    width: 250px;
    border: 10px red solid;
    /* border-radius: 50%; */
    background-color: rgb(65, 65, 93);
    padding-top: 5px;
    padding-left: 300px;

}
h2{
    /* text-align: center; */
    height: 50px;
    width: 100px;
    border: 10px black solid;
    padding: 5px;
}
h3{
    /* text-align: center; */
    height: 50px;
    width: 100px;
    border: 10px black solid;
    padding: 5px;
}